:root {
  --main: white;
  --accent: #6ecaf5;
  --back: rgba(2, 21, 38, 0.4);
  color: var(--main);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
  font-weight: bolder;
}

#map {
  height: 100%;
  width: 100%;
}

.blur-bg {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  background-color: var(--back);
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: auto;
  padding: 12px 20px;
  z-index: 10;

  color: var(--main);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: bolder;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

#topnav {
  margin-top: 10px;
  top: 0;
}

#topnav,
.box {
  width: 50%;
}

#topnav p {
  margin: 0;
}

#bottomnav {
  margin-bottom: 10px;
  width: 30%;
  bottom: 0;
}

#searchbox {
  background-color: transparent;
  border: none;
  resize: none;
  color: var(--main);
  font-weight: bolder;
  font-size: 16px;
}

#searchbox::placeholder {
  color: var(--main);
  opacity: 0.7;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: none;
}

#search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
  max-height: 400px;
  min-width: 500px;
  overflow-y: scroll;
  scrollbar-color: var(--accent) transparent;
  overflow-x: hidden;
  z-index: 10;
  padding: 1rem;
  color: var(--main);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.titlebox {
  flex-direction: row;
  display: flex;
  width: 100%;
}

.titlebox a {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 16px;
}

.box p {
  font-size: 18px;
  margin: 0 0 5px 0;
  padding: 0;
}

.box hr {
  width: 100%;
  border-color: var(--main);
}

#ibox {
  max-height: none;
  top: 10rem;
  width: 30%;
}

#ibox .inner {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px dotted var(--accent);
}

.item {
  margin: 10px;
  font-weight: normal;
  font-size: 16px;
  color: var(--main);
  text-decoration: none;
  transition: all 0.3s;
}

.text {
  justify-content: center;
  text-align: center;
  text-justify: auto;
}

.box a:hover {
  font-size: 17px;
  color: var(--accent);
  transition: all 0.3s;
}

.button a:link,
.button a:visited,
.button a:focus {
  color: var(--main);
}

.button {
  background: none;
  border: none;
  color: var(--main);
  cursor: pointer;
  font-size: 30px;
  transition: transform 0.2s ease, color 0.2s ease;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar button {
  font-size: 16px;
}

.button:hover,
.button a:hover {
  transform: scale(1.2);
  color: var(--accent);
}

#infoButton {
  font-size: inherit;
}

#infoButton:hover {
  transform: unset;
  color: var(--accent);
}

@media screen and (max-width: 700px) {
  #topnav,
  .box,
  #ibox {
    min-width: unset;
    margin: 10px 0 0 0;
    width: 80%;
    max-height: 80%;
  }
  .box p,
  .item {
    font-size: 13px;
  }
  #bottomnav {
    margin: 0 0 10px 0;
    width: 60%;
  }
}

/*Cacher la ligne de lien de google maps */
.gm-style-cc {
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none !important;
}
.gmnoprint div {
  background: none !important;
}
