:root {
  --main: white;
  --accent: #6ecaf5;
  --back: rgba(2, 21, 38, 0.4);
  color: var(--main);
}

/*BASE*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
  overflow-x: hidden;
}

#map {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none !important;
}

.visible {
  display: flex !important;
}

.bold {
  font-weight: bold;
}

.blur-bg {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: var(--back);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.fade {
  transition: transform 0.2s ease, color 0.2s ease;
}

.link {
  cursor: pointer;
}

.error {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: bolder;
  color: #993737;
  white-space: pre-line;
}

/*NOTIF*/

#notif {
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999999;

  border-radius: 20px;
  padding: 10px;
}

#notif.active {
  animation: slideInTop 0.5s forwards;
}

#notif.hide {
  animation: slideOutTop 0.5s forwards;
}

#notif.fullbg {
  border: 2px solid var(--main);
  background-color: var(--accent);
}

@keyframes slideInTop {
  from {
    bottom: -150px;
  }
  to {
    bottom: 10vh;
  }
}

@keyframes slideOutTop {
  from {
    bottom: 10vh;
  }
  to {
    bottom: -150px;
  }
}

#notif p {
  margin: 0 10px;
  font-size: large;
}

/*AUTH*/

.popupBg {
  position: fixed;
  inset: 0;
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
}

.popup {
  position: relative;
  width: min(420px, 90vw);
  padding: 2.2rem;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;

  background: white;
  border-radius: 26px;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);

  animation: pop 0.25s ease-out;
}

.popup label {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: black;
}

#settingContainer {
  width: 420px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.popup-header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0;
  padding: 15px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.popup-header a {
  position: absolute;
  left: 0px;
  font-size: 24px;
  color: #111;
  cursor: pointer;
}

.popup-header a:hover {
  font-size: 32px;
  transition: font-size 0.1s ease-in-out;
}

@keyframes pop {
  from {
    transform: scale(0.94);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.titleWindow {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.08em;
  color: #111;
}

#mainContainer,
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

.divContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  color: black;
}

#prefContainer,
#personnalContainer {
  height: fit-content;
  width: fit-content;
}

.divinput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

#bdiv {
  justify-content: center;
}

#personnalContainer {
  gap: 0.75rem;
}

#mainContainer p {
  margin: 0;
  font-size: 18px;
  font-weight: bolder;
}

#preinfo,
#authbottom,
#settbottom {
  flex-direction: row;
}

#voitbottom {
  justify-content: space-between;
  flex-direction: row;
}

#preinfo {
  margin: 1rem 0px 0px 0px;
}

#authbottom {
  justify-content: space-between;
}

#settbottom {
  justify-content: space-between;
}

.submit {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--accent);
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #66accc;
}

.red {
  background-color: #b43d3d;
  box-shadow: 0px 5px 0px 0px #993737;
}

.red:active:not(:disabled) {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #993737;
}

.green {
  background-color: #3db490;
  box-shadow: 0px 5px 0px 0px #278b6d;
}

.green:active:not(:disabled) {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #278b6d;
}

.submit:active:not(:disabled) {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #66accc;
}

.submit:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

#authbottom a {
  font-size: 16px;
}

.inputPref {
  padding: 12px 10px;
  border-radius: 14px;

  border: 1px solid #ddd;
  background: #f6f6f6;

  font-size: 1rem;
  color: #111;

  transition: all 0.2s ease;
}

.inputPref::placeholder {
  color: #999;
}

.inputPref:disabled {
  cursor: not-allowed;
}

.inputPref:focus {
  outline: none;
  border: 1px solid;
  background: white;
}

.check {
  width: 18px;
  height: 18px;
  accent-color: #1e88ff; /* bleu quand coché */
  cursor: pointer;
}

select {
  transition: all 0.2s ease;
  background-color: #f6f6f6;
  color: #111;
  border: thin solid #ddd;
  border-radius: 14px;
  display: inline-block;
  font: inherit;
  padding: 2px 0.5em 2px 0.5em;
}

#listVoit,
#carTab {
  text-align: center;
  width: 100%;
}

.int {
  padding: 1px 2px 1px 5px;
  max-width: 80px;
}

/*BAR*/

.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: auto;
  padding: 12px 20px;
  z-index: 10;

  color: var(--main);
  text-align: center;
  font-weight: bolder;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

#topnav {
  width: 50%;
  margin-top: 10px;
  top: 0;
}

#topnav p {
  margin: 0;
}

#bottomnav {
  margin-bottom: 10px;
  width: 30%;
  bottom: 0;
}

/*SEARCH BAR*/
#searchbox {
  background-color: transparent;
  border: none;
  resize: none;
  color: var(--main);
  font-weight: bolder;
  font-size: 16px;
}

#searchbox::placeholder {
  color: var(--main);
  opacity: 0.7;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: none;
}

#search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

/*BOX*/

.box {
  width: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
  max-height: 400px;
  min-width: 500px;
  z-index: 10;
  padding: 1rem;
  color: var(--main);
  border-radius: 10px;
}

.titlebox {
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.titlebox a {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
}

.box p {
  font-size: 18px;
  margin: 0 0 5px 0;
  padding: 0;
}

.box hr {
  width: 100%;
  border-color: var(--main);
}

#resultBox {
  scrollbar-color: var(--accent) transparent;
  overflow-x: hidden;
  overflow-y: scroll;
}

#resultBox hr {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px dotted var(--accent);
}

.resultDiv {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.item {
  margin: 2px;
  cursor: pointer;
  font-size: 16px;
  color: var(--main);
  text-decoration: none;
  background: transparent;
  border: none;
}

/*PARKING INFO*/

.text {
  justify-content: center;
  text-align: center;
  text-justify: auto;
}

.divInfo {
  display: flex;
  flex-direction: row;
}

.divInfo p {
  padding-right: 5px;
}

/*CONFIRM DIALOG*/

.dialog {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dialog a {
  margin: 5px;
  font-size: 16px;
}

/*BUTTONS*/

.button a:link,
.button a:visited,
.button a:focus {
  color: var(--main);
}

.button {
  font-weight: bold;
  background: none;
  border: none;
  color: var(--main);
  cursor: pointer;
  font-size: 30px;
  transition: transform 0.2s ease, color 0.2s ease;
  outline: none;
  text-decoration: none;
}

.button:hover,
.button a:hover {
  color: var(--accent);
  transition: transform 0.2s ease, color 0.2s ease;
}

.littleButton {
  font-size: 18px;
}

/*NAVIGATION MODE TITLE*/

#itiniraireTitle {
  font-size: 24px;
}

/*MOBILE*/

@media screen and (max-width: 700px) {
  #topnav,
  .box,
  #ibox {
    min-width: unset;
    margin: 10px 0 0 0;
    width: 80%;
    max-height: 60%;
  }

  .box p,
  .item,
  .box .button {
    font-size: 13px;
  }

  #bottomnav {
    margin: 0 0 10px 0;
    width: 60%;
  }
}

@media (max-width: 480px) {
  #mainContainer,
  .mainContainer {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  #mainContainer > *,
  .mainContainer > * {
    width: 100%;
  }

  #preinfo {
    flex-direction: column;
  }
  #settbottom,
  #voitbottom {
    flex-direction: column-reverse;
  }

  .popup {
    max-height: 80%;
    max-width: 70%;
  }
}

.navcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

/*LOADER ANIMATIONS*/
.loader {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  width: 90%;
  height: 5px;
  z-index: 100;
  background: linear-gradient(var(--accent) 50%, #0000 0),
    linear-gradient(#0000 50%, var(--accent) 0),
    linear-gradient(var(--accent) 50%, #0000 0),
    linear-gradient(#0000 50%, var(--accent) 0),
    linear-gradient(var(--accent) 50%, #0000 0),
    linear-gradient(#0000 50%, var(--accent) 0) #ddd;
  background-size: calc(100% / 6 + 1px) 200%;
  background-repeat: no-repeat;
  animation: l12 2s infinite;
  transition: all ease-in-out 0.5s;
}
@keyframes l12 {
  0% {
    background-position: calc(0 * 100% / 5) 100%, calc(1 * 100% / 5) 0%,
      calc(2 * 100% / 5) 100%, calc(3 * 100% / 5) 0%, calc(4 * 100% / 5) 100%,
      calc(5 * 100% / 5) 0%;
  }
  16.67% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 0%,
      calc(2 * 100% / 5) 100%, calc(3 * 100% / 5) 0%, calc(4 * 100% / 5) 100%,
      calc(5 * 100% / 5) 0%;
  }
  33.33% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 100%,
      calc(2 * 100% / 5) 100%, calc(3 * 100% / 5) 0%, calc(4 * 100% / 5) 100%,
      calc(5 * 100% / 5) 0%;
  }
  50% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 100%,
      calc(2 * 100% / 5) 0%, calc(3 * 100% / 5) 0%, calc(4 * 100% / 5) 100%,
      calc(5 * 100% / 5) 0%;
  }
  66.67% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 100%,
      calc(2 * 100% / 5) 0%, calc(3 * 100% / 5) 100%, calc(4 * 100% / 5) 100%,
      calc(5 * 100% / 5) 0%;
  }
  83.33% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 100%,
      calc(2 * 100% / 5) 0%, calc(3 * 100% / 5) 100%, calc(4 * 100% / 5) 0%,
      calc(5 * 100% / 5) 0%;
  }
  100% {
    background-position: calc(0 * 100% / 5) 0%, calc(1 * 100% / 5) 100%,
      calc(2 * 100% / 5) 0%, calc(3 * 100% / 5) 100%, calc(4 * 100% / 5) 0%,
      calc(5 * 100% / 5) 100%;
  }
}

/*HIDE GOOGLE MAPS LINKS*/
.gm-style-cc {
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none !important;
}
.gmnoprint div {
  background: none !important;
}
